@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body{
    height: 100%;
}

h1, h2, h3, h4, h5{
    font-family: 'Limelight';
}

#root{
    background-color: #a1873d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header, #header>div>div>div>a, #footer, #footer>div>div>div>a, .share-icon,  #header-toggler {
    font-family: 'Limelight';
    font-size: 1.5rem;
    background-color: #071b19;
    color: #a1873d;
}

td{
    color: #a1873d;
}

#footer, #footer>div>div>div>a, .share-icon{
    font-size: 1rem;
}

.dropdown-menu{
    background-color: #bea04f !important;
}

.dropdown-toggle{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 700 !important;
}

button[type = "submit"], input[type = "submit"], .submit{
    background-color: #2e778b  !important;
    font-weight: 700 !important;
    color: #071b19  !important;
    border: 2px solid #071b19a2 !important;
    text-transform: capitalize !important;
}